---
import Shell from "@components/Shell/index.astro";
import { getI18NPostMap, getPostsPathsByLanguage } from "@content/helpers";

export async function getStaticPaths() {
  const postPathsByLang = await getPostsPathsByLanguage("pt-br");
  return postPathsByLang;
}

const { entries } = Astro.props;
const currentLang = Astro.currentLocale;
const entry = entries[currentLang];
const i18NMap = getI18NPostMap(currentLang, entries);

const { Content } = await entry.render();
---

<Shell customI18NMap={i18NMap}>
  <p>{entry.data.title}</p>
</Shell>
