---
import { Image, Picture } from "astro:assets";
import FieldRow from "@components/FieldRow.astro";
import home from "./icons/home.png";
import folder from "./icons/folder.png";
import notes from "./icons/notes.png";
import projects from "./icons/projects.png";
import config from "./icons/config.png";
import contact from "./icons/contact.png";
import go from "./icons/go.png";

const menuItems = [
  {
    label: "Home",
    icon: home,
  },
  {
    label: "Projects",
    icon: folder,
  },
  {
    label: "Posts",
    icon: notes,
  },
  {
    label: "Work",
    icon: projects,
  },
  {
    label: "Contact",
    icon: contact,
  },
  /* {
    label: "Social",
    icon: social,
  }, */
  {
    label: "Config",
    icon: config,
  },
];

const social = [
  {
    label: "Github",
  },
  {
    label: "Linkedin",
  },
  {
    label: "Instagram",
  },
  {
    label: "Discord",
  },
];
---

<div class="main-menu">
  <header class="header">
    <div class="avatar">
      <img
        class="avatar-image"
        src="https://avatars.githubusercontent.com/u/17283501?v=4"
        width="260"
        height="260"
      />
    </div>
    <h1 class="name">Tim Fontes</h1>
  </header>
  <div class="menu-body">
    <menu class="menu-list">
      {
        menuItems.map((item) => (
          <li class="menu-content-item">
            <a class="menu-content-link" href="/">
              <Picture
                class="menu-content-icon"
                width={24}
                height={24}
                formats={["webp"]}
                src={item.icon}
                alt="asdsf"
              />
              {item.label}
            </a>
          </li>
        ))
      }
    </menu>

    <div class="search-block">
      <label for="text21">Search</label>
      <input id="text21" type="text" />
      <Image alt="" quality={100} width="25" height="25" src={go} />
    </div>

    <ul class="social-holder">
      {
        social.map((item) => (
          <li>
            <a class="social-link" href="/">
              {item.label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style lang="scss">
  @import "./styles.scss";
</style>
