.main-menu {
  --lateral-padding: 20px;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  @include aboveTurningPoint() {
    padding: 20px 0;
    width: 290px;
    border-radius: 0px 5px 0px 0px;
    display: flex;
    height: 100vh;
    flex-direction: column;
  }
}

.header {
  height: var(--header-size);
  background: var(--window-top);
  position: relative;
  padding: 10px var(--lateral-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  border-top: 1px solid #0831d9;
  border-left: 1px solid #0831d9;
  border-right: 1px solid #001ea0;
  transition: transform 0.3s ease;
  transform: translateY(0);

  @include aboveTurningPoint() {
    border-radius: 7px 7px 0px 0px;
  }
}

:global(.header-hide).header {
  transform: translateY(-100%);
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  flex-shrink: 0;
  @include aboveTurningPoint {
    display: none;
  }
}

.menu-button {
  padding: 0;
  display: block;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: center;
  height: 32px;
  width: 32px;
  background-size: cover;
  box-shadow: none;
  background-color: #0050ee;
  transition: background 100ms;
  border: none;
  background-image: var(--menu);
  &:focus {
    outline: none;
  }
  &:active,
  &:hover,
  &:focus {
    box-shadow: none !important;
  }
}

:global(.menu-open) .menu-button {
  background-image: var(--close);
}

.avatar {
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 50px;
  padding: 3px;
  border-radius: 4px;
  margin-right: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.name {
  text-shadow: 1px 1px #0f1089;
  color: white;
  font-weight: bold;
  letter-spacing: 0;
  font-family: "Trebuchet MS";
  font-size: var(--main-name);
}

.avatar-image {
  height: 100%;
  width: auto;
}

.menu-body {
  padding-top: var(--header-size);
  height: 100vh;
  position: absolute;
  background-color: white;
  border: 1px solid #7f9db9;
  inset: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;

  @include aboveTurningPoint() {
    position: relative;
    padding-top: 0;
    transform: translate(0);
  }
}

:global(.menu-open) .menu-body {
  transform: translateX(0);
}

.menu-list {
  position: relative;
  list-style: none;
  padding-top: 5px;

  &:before {
    content: "";
    position: absolute;
    top: -8px;
    left: 10%;
    width: 80%;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0px 4px 5px #e88f0b;
    z-index: 10;
  }
}

.menu-content-link {
  font-family: var(--sans-serif);
  color: black;
  text-decoration: none;
  padding: 14px var(--lateral-padding);
  display: block;
  font-size: var(--menu-items);
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
    background-color: #2267cb;
    color: #fff;
  }

  &:focus {
    outline: 1px dotted #00f;
  }
}

.menu-content-icon {
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 20px;
  image-rendering: pixelated;
}

.social-holder {
  padding: var(--lateral-padding);
  background: #d3e5fa;
  flex: 1;

  @include aboveTurningPoint {
    flex: unset;
  }
}
.social-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding-top: 30px;
  align-items: flex-start;
  gap: 30px;

  @include aboveTurningPoint {
    flex: unset;
    flex-wrap: unset;
    padding-top: 0;
    align-items: center;
    justify-content: space-between;
    gap: unset;
  }
}

.social-li {
  flex: 0 0 calc(50% - 15px);
  text-align: center;
  height: auto;
  @include aboveTurningPoint {
    flex: unset;
  }
}

.social-link {
  color: black;
  line-height: 2;
  font-size: 12px;
  -webkit-font-smoothing: auto;
  font-family: var(--sans-serif);
}

.search-block {
  padding: var(--lateral-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  position: relative;
  justify-content: space-between;
  padding-bottom: 50px;

  @include aboveTurningPoint {
    flex: 1;
    padding-bottom: 14px;
  }
}

.search-block-divider {
  width: 100%;
  height: 1px;
  background-color: var(--border-color);
  margin-bottom: 40px;

  @include aboveTurningPoint {
    margin-bottom: 60px;
  }
}
