$header-size: 90px;

.main-menu {
  --lateral-padding: 20px;

  position: fixed;
  top: 0;
  z-index: 10;
  width: 290px;
  padding: 20px 0;
  border-radius: 0px 5px 0px 0px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  max-height: 855px;

  @include belowTurningPoint() {
    width: 100%;
    padding: 0;
    border-radius: 0px;
    display: block;
    height: auto;
  }
}

.header {
  height: $header-size;
  background: var(--theme-top-window);
  position: relative;
  padding: 10px var(--lateral-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  border-top: 1px solid var(--theme-window-bt);
  border-left: 1px solid var(--theme-window-bl);
  border-right: 1px solid var(--theme-window-br);
  transition: transform 0.3s ease;
  transform: translateY(0);
  border-radius: 7px 7px 0px 0px;
  flex-shrink: 0;
  flex-grow: 0;

  @include belowTurningPoint() {
    border-radius: 0px;
  }
}

:global(.header-hide).header {
  transform: translateY(-100%);
}

.header-left {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-right {
  display: none;
  @include belowTurningPoint() {
    flex-shrink: 0;
    display: block;
  }
}

.menu-button {
  padding: 0;
  display: block;
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: center;
  height: 32px;
  width: 32px;
  background-size: cover;
  box-shadow: none;
  background-color: var(--theme-action-bg);
  transition: background 100ms;
  border: none;
  background-image: var(--menu);
  &:focus {
    outline: none;
  }
  &:active,
  &:hover,
  &:focus {
    box-shadow: none !important;
  }
}

:global(.menu-open) .menu-button {
  background-image: var(--close);
}

.avatar {
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 50px;
  padding: 3px;
  border-radius: 4px;
  margin-right: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.name,
.blog-title {
  text-shadow: 1px 1px var(--theme-title-shadow);
  font-weight: bold;
  letter-spacing: 0;
  font-family: "Trebuchet MS";
}

.name {
  color: white;
  font-size: 18px;
  margin-bottom: 2px;
}

.blog-title {
  color: rgb(212, 212, 212);
  font-weight: bold;

  font-size: 14px;
  font-style: italic;
}

.avatar-profile {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: none;
  image-rendering: pixelated;
  background-image: var(--theme-profile);
}

.menu-body {
  position: relative;
  height: auto;
  background-color: var(--theme-background);
  border: 1px solid var(--theme-border-1);
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;

  @include belowTurningPoint() {
    padding-top: $header-size;
    height: 100vh;
    position: absolute;
    overflow-y: scroll;
    inset: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    justify-content: unset;
  }
}

:global(.menu-open) .menu-body {
  transform: translateX(0);
}

.menu-list {
  position: relative;
  list-style: none;
  padding-top: 10px;

  &:before {
    content: "";
    position: absolute;
    top: -8px;
    left: 10%;
    width: 80%;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0px 4px 5px #e88f0b;
    z-index: 10;
  }
}

.menu-content-link {
  font-family: var(--sans-serif);
  color: var(--theme-start-link);
  text-decoration: none;
  padding: 14px var(--lateral-padding);
  display: block;
  font-size: var(--menu-items);
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
    background-color: var(--theme-highlight-color);
    color: var(--white);
  }

  &:focus,
  &--active {
    outline: 1px dotted var(--theme-outline-link);
  }
}

.menu-content-icon {
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 20px;
  image-rendering: pixelated;
}

.social-holder {
  padding: var(--lateral-padding);
  background: var(--theme-submenu-bg);
  border-top: 1px solid var(--theme-border-1);

  @include belowTurningPoint {
    flex: 1;
  }
}
.social-list {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
  justify-content: space-between;

  @include belowTurningPoint {
    flex-wrap: wrap;
    padding: 15px 0;
    align-items: flex-start;
    gap: 10px;
    justify-content: unset;
  }
}

.social-li {
  text-align: center;
  height: auto;

  @include belowTurningPoint {
    flex: 1;
  }
}

.social-link {
  color: var(--theme-start-link);
  line-height: 2;
  font-size: var(--menu-items);
  -webkit-font-smoothing: auto;
  font-family: var(--sans-serif);
}

.search-block {
  padding: var(--lateral-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  position: relative;
  justify-content: flex-end;
  padding-bottom: 14px;
}
