---
import Shell from "@components/Shell/index.astro";
import { getPageI18NPathMap } from "@helpers/server/i18n";
import i18n from "./i18n";

const lang = Astro.currentLocale as Lang;
const { title } = i18n[lang];
---

<Shell i18nPagePaths={getPageI18NPathMap("projects")}>
  <div class="projects-page">
    <h1 class="project-title">{title}</h1>
  </div>
</Shell>
<style lang="scss">
  @import "./styles.scss";
</style>
