---
import { ViewTransitions } from "astro:transitions";
import "./base/main.scss";
import MainMenu from "@components/MainMenu/index.astro";
import Alert from "@components/Alert/index.astro";
import Settings from "@components/Settings/index.astro";
import LanguageSelector from "@components/LanguageSelector.astro";
import i18n from "./i18n";
import { fade } from "astro:transitions";

export type Props = {
  title?: string;
  i18nPagePaths: I18NPagePaths;
}

const { title = "Tim Fontes", i18nPagePaths } = Astro.props as Props;
const { htmlLang } = i18n[Astro.currentLocale];

const forceViewTransitionsPolyfill = false;
const currentYear = new Date().getFullYear();
const I18NMap: I18NMap = {
  currentLang: Astro.currentLocale,
  paths: i18nPagePaths,
};

const stringfiedI18NMap = JSON.stringify(I18NMap);
---

<!doctype html>
<html lang={htmlLang} transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="theme-color" content="#7D7F82" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {
      forceViewTransitionsPolyfill ? (
        <script is:inline>document.startViewTransition = false;</script>
      ) : null
    }
    <ViewTransitions />
  </head>
  <body class="font-size-50">
    <div class="shell" data-fragment="shell">
      <div class="shell-container">
        <div class="shell-menu">
          <MainMenu />
        </div>

        <div
          class="shell-content"
          transition:animate={fade({ duration: "0.3s" })}
        >
          <div class="shell-page">
            <div class="shell-i18n-holder">
              <LanguageSelector />
              <script
                is:inline
                id="i18nMap"
                type="application/json"
                set:html={stringfiedI18NMap}
              />
            </div>
            <slot />
            <div class="shell-footer">
              &copy; Tim Fontes {currentYear}
            </div>
          </div>
        </div>
      </div>
      <div id="music-player-slot"></div>
      <Alert />
      <Settings />
    </div>
    <style lang="scss">
      @import "./styles.scss";
    </style>

    <script>
      import "./controller";
    </script>
  </body>
</html>
