---
import "./base/main.scss";
import MainMenu from "@components/MainMenu/index.astro";
import Alert from "@components/Alert/index.astro";
import LanguageSelector from "@components/LanguageSelector.astro";
import i18n from "./i18n";

export interface Props {
  title?: string;
  i18nPagePaths: I18NPagePaths;
}

const { title = "Tim Fontes", i18nPagePaths } = Astro.props as Props;
const { htmlLang } = i18n[Astro.currentLocale];

const forceViewTransitionsPolyfill = true;
const currentYear = new Date().getFullYear();
const I18NMap: I18NMap = {
  currentLang: Astro.currentLocale,
  paths: i18nPagePaths,
};

const stringfiedI18NMap = JSON.stringify(I18NMap);
---

<!doctype html>
<html lang={htmlLang} transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="theme-color" content="#7D7F82" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="shell" data-fragment="shell">
      <div class="shell-container">
        <div class="shell-menu">
          <MainMenu />
        </div>

        <div class="shell-content">
          <div class="shell-page">
            <!-- dynamic content -->
            <div class="shell-i18n-holder">
              <LanguageSelector />
              <script
                is:inline
                id="i18nMap"
                type="application/json"
                set:html={stringfiedI18NMap}
              />
            </div>
            <slot />
            <div class="shell-footer">
              &copy; Tim Fontes {currentYear}
            </div>
          </div>
        </div>
      </div>
    </div>
    <Alert />
  </body>
</html>

<style lang="scss">
  @import "./styles.scss";
</style>

<script>
  import "./controller";
</script>
