.shell {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-container {
    max-width: 1200px;
    width: 100%;
    position: relative;
    display: flex;
    flex: 1;
    z-index: 1;
    gap: 20px;

    @include belowTurningPoint() {
      display: block;
      gap: unset;
    }
  }

  &-menu {
    width: 290px;
    position: relative;

    @include belowTurningPoint {
      width: unset;
      position: unset;
    }
  }

  &-content {
    flex: 1;
  }

  &-page {
    margin: 20px 0;
    background-color: var(--theme-background);
    position: relative;
    max-width: 890px;
    overflow: hidden;
    border: 1px solid var(--theme-border-1);

    @include belowTurningPoint() {
      margin: 100px 10px 10px 10px;
    }
  }

  &-page-heading {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--theme-submenu-bg);
    border-bottom: 1px solid var(--theme-border-1);

    @include belowTurningPoint() {
      padding: 10px 20px;
    }
  }

  &-heading-right {
    display: flex;
    gap: 30px;
    align-items: center;

    @include belowTurningPoint() {
      gap: 15px;
    }
  }

  &-theme-toggle {
    height: 35px;
    min-width: 35px;
    width: 35px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-theme-toggle-bg {
    background-color: var(--theme-selector-bg);
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-theme-toggle-icon {
    background-image: var(--theme-icn);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-page-container {
    padding: 10px 50px;
    @include belowTurningPoint() {
      padding: 10px 20px;
    }
  }

  &-footer {
    padding-top: 50px;
  }

  &-back {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--theme-text-muted);
    font-size: var(--txt-xsmall);

    &--disabled {
      cursor: not-allowed;
      .shell-back-icon {
        background-image: var(--back-btn-disabled);
        image-rendering: pixelated;
      }
    }
  }

  &-back-icon {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: var(--back-btn);
    background-size: cover;
  }
}
