.shell {
  background-color: var(--surface);
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-container {
    max-width: 1200px;
    width: 100%;
    position: relative;
    flex: 1;

    @include aboveTurningPoint() {
      display: flex;
      gap: 20px;
    }
  }

  &-menu {
    @include aboveTurningPoint() {
      width: 290px;
      position: relative;
    }
  }

  &-content {
    flex: 1;
  }

  &-page {
    margin: 100px 10px 10px 10px;
    background-color: white;
    padding: 40px 20px;
    position: relative;

    @include aboveTurningPoint() {
      margin: 20px 0;
      padding: 50px;
      padding-bottom: 30px;
    }
  }

  &-i18n-holder {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &-footer {
    padding-top: 50px;
  }
}
