$mobile-frame-z-index: 10;
$mobile-header-z-index: 8;

.shell-container {
  width: 100%;
  height: 100%;
  max-width: 1312px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px 10px;
  color: white;
  z-index: 0;
  position: relative;

  @include belowTurningPoint {
    padding: 0;
  }
}

.header-slot {
  height: 115px;
  flex-shrink: 0;
  flex-grow: 0;
  z-index: 2;
  margin-bottom: 15px;
  width: 100%;

  @include belowTurningPoint {
    display: none;
  }
}

.mobile-header-slot {
  display: none;
  width: 100%;
  top: 0;
  z-index: $mobile-header-z-index;
}

.mobile-frame {
  width: 20px;
  bottom: 0;
  top: 0;
  z-index: $mobile-frame-z-index;
  display: none;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }
}

.mobile-nav-slot {
  width: 100%;
  z-index: $mobile-header-z-index;
  bottom: 0;
}

.mobile-header-slot,
.mobile-frame,
.mobile-nav-slot {
  position: fixed;
  display: none;

  @include belowTurningPoint {
    display: block;
  }
}

.body-slot {
  width: 100%;
  flex: 1;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
