---
const lang = Astro.currentLocale as Lang;

const message = {
  "pt-br": "anunsio nao encontrado",
  en: "ad not fond",
}[lang];
---

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>{message}</p>
  </body>
</html>

<style lang="scss">
  body {
    font-family: "Times New Roman", Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    height: 100vh;
  }
</style>

<script>
  const urlParams = new URLSearchParams(window.location.search);
  const displayParam = urlParams.get("type");
  const img = document.createElement("img");
  const body = document.querySelector("body");
  img.src = "/images/sla.jpg";
  img.height = 300;
  
  if (displayParam === "naughty") {
    img.height = 500;
    img.src = "/images/horny-jail.webp";
  }
  body.appendChild(img);
</script>
