---
import Shell from "@components/legacy/Shell/index.astro";
import ContentPanel from "@components/legacy/ContentPanel.astro";
import PageGrid from "@components/legacy/PageGrid/index.astro";
import i18n from "./i18n";
import { getLang } from "@helpers/i18n";

const lang = getLang(Astro.url);
const { title } = i18n[lang];
---

<Shell>
  <PageGrid dataElement="home-page">
    <ContentPanel main columns={7}>
      <div id="hehe">{title}</div>
      <button id="mybtn">teste</button>
    </ContentPanel>
    <ContentPanel columns={5}>
      <p>lulu</p>
    </ContentPanel>
  </PageGrid>
</Shell>

<script>
  import "./controller";
</script>
