---
interface IPostData {
    title: string;
    created_date: string;
    updated_date: string;
    thumbnail: string;
    topics: string[];
    lang: "pt" | "en"
}

const content: IPostData = Astro.props.content
const hehe = JSON.stringify(content)
---

<p>{hehe}</p>
<slot />
<p>batata</p>