---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("projects", ({ id }) => {
    return id.startsWith("en/");
  });

  return blogEntries.map((entry) => ({
    params: { slug: entry?.slug?.split("/")[1] },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<h1>{entry.data.title}</h1>
<Content />
