<nav class="mobile-nav mobile-nav">
    <div
      class="mobile-nav-shape mobile-nav-shape--1 global-metal-background"
    >
    </div>
    <div
      class="mobile-nav-shape mobile-nav-shape--2 global-metal-background"
    >
    </div>
    <div class="mobile-nav-content">
    <p>cenoura</p>
    </div>
  </nav>

  <style lang="scss">
    @import "./styles.scss";
  </style>