---
import Shell from "@components/Shell/index.astro";
import { getPageI18NPathMap } from "@helpers/server/i18n";
import i18n from "./i18n";
import range from "@helpers/range";

import { getProjectsByLanguage } from "@cms/collections/projects/helpers";

const lang = Astro.currentLocale as Lang;
const data = i18n[lang];

const projects = await getProjectsByLanguage(lang);
const projs = JSON.stringify(projects);
---

<Shell i18nPagePaths={getPageI18NPathMap("projects")}>
  <h1>{data.title}</h1>
  <div class="projects-grid">
    {
      range(15).map(() => (
        <div class="project">
          <div
            style={{ width: "100%", backgroundColor: "gray", height: "150px" }}
          />
          prject
        </div>
      ))
    }
  </div>
  {projs}
</Shell>

<style lang="scss">
  @import "./styles.scss";
</style>
