.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, max-content);
  gap: 15px;
  margin-top: 20px;
  list-style: none;

  @include belowTurningPoint() {
    display: block;
  }

  &--featured {
    @include belowTurningPoint() {
      display: flex;
      overflow-x: scroll;
      padding-bottom: 20px;
      scroll-snap-type: x mandatory;
    }
  }
}

.featured-projects,
.all-projects {
  margin-top: 40px;
}
