.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(auto, max-content);
  gap: 15px;
  margin-top: 20px;
  list-style: none;

  @include belowTurningPoint() {
  }
}

.featured-projects,
.all-projects {
  margin-top: 40px;
}

