---
import Shell from "@components/Shell/index.astro";
import ContentPanel from "@components/ContentPanel.astro";
import PageGrid from "@components/PageGrid/index.astro";
---

<Shell>
  <PageGrid dataElement="projects-page">
    <ContentPanel main columns={6}>
      <div>batatas</div>
    </ContentPanel>
    <ContentPanel columns={6}>
      <p>lulu</p>
    </ContentPanel>
  </PageGrid>
</Shell>

<script>
  import "./controller";
</script>
