---
import MainMenu from "@components/MainMenu/index.astro";
import { getLang } from "@helpers/i18n";
import i18n from "./i18n";

export interface Props {
  title?: string;
}

const { title = "Tim Fontes" } = Astro.props as Props;
const lang = getLang(Astro.url);
const { htmlLang } = i18n[lang];
const forceViewTransitionsPolyfill = true;
---

<!doctype html>
<html lang={htmlLang} transition:animate="none">
  <head>
    <title>{title}</title>
    <meta name="theme-color" content="#7D7F82" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="shell">
      <div class="shell-menu">
        <MainMenu />
      </div>

      <div class="shell-content">
        <slot />
      </div>
    </div>
  </body>

  <style lang="scss" is:global>
    @import "./win/main.scss";
  </style>
</html>
