<div
  class="search-prompt global-metal-background"
  data-fragment="search-prompt"
>
  <div class="search-field-holder">
    <label for="search-field" class="field-label">find&#62;</label>
    <div class="text-cursor"></div>
    <input id="search-field" class="search-field-input" type="text" />
    <p class="ghost-text"></p>
  </div>
</div>
<script>
  import "./controller";
</script>

<style lang="scss">
  @import "./styles.scss";
</style>
