---
import Shell from "@components/Shell/index.astro";
import Image from "@components/Image/index.astro";
import range from "@helpers/range";

import introImg from "./assets/intro-mobile.webp";
import { getPageI18NPathMap } from "@helpers/server/i18n";
---

<Shell i18nPagePaths={getPageI18NPathMap("home")}>
  <div class="main-page" data-fragment="main-page">
    <section class="presentation">
      <h1 class="section-title">Hi There!</h1>
      <div class="presentation-panels">
        <div>
          <p>
            I am a programmer and musician, passionate about combining
            technology and art. <br /> Currently working as a <del
              >mad scientist</del
            > software engineer, focused on solution architecture and exploring subjects
            such as design systems, web performance optimization, cloud computing
            and more.
          </p>
          <p>
            The idea behind this blog is to be my little slice of the web where
            I plan to document my crazy ideas, experiments, studies and
            projects, bringing a touch of creativity to the technique.
          </p>
          <p>Welcome!!!</p>
        </div>
        <div class="main-image-holder">
          <Image
            src={introImg}
            class="main-image"
            alt="Image of a man with a shaking computer monitor"
          />
        </div>
      </div>
    </section>
    <section class="latest-posts">
      <h3 class="section-title">Latest posts</h3>
      <ul class="posts-list">
        {
          range(5).map((i) => (
            <li class="latest-post">
              <a href="#" class="latest-post-link">
                Releasing a new game
              </a>
              <p class="latest-post-excerpt">
                orem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus eu dolor aliquam, convallis risus quis, hendrerit
                metus. Quisque neque augue, posuere eu sapien vitae, volutpat
                posuere felis.{" "}
              </p>
              <a href="#" class="latest-post-path">
                http://potato.com.br/my-post
              </a>
            </li>
          ))
        }
      </ul>
      <a href="#" class="more-posts-link">...More</a>
    </section>
  </div>
</Shell>

<style lang="scss">
  @import "./styles.scss";
</style>
