---
import Shell from "@components/Shell/index.astro";
import Image from "@components/Image/index.astro";
import ImageLoader from "@components/Image/ImageLoader.astro";

import introImg from "./assets/intro-mobile.webp";
import introVideo from "./assets/intro-desk.mp4";
---

<Shell>
  <div class="main-page" data-fragment="main-page">
    <section class="presentation">
      <h1 class="main-title">Hi There!</h1>
      <div class="presentation-panels">
        <div>
          <p>
            I am a programmer and musician, passionate about combining
            technology and art. <br /> Currently working as a <del
              >mad scientist</del
            > software engineer, focused on solution architecture and exploring areas
            such as design systems, cloud computing, web performance optimizations
            and more.
          </p>
          <p>
            The idea behind this blog is to be my little slice of the web where
            I plan to document my crazy ideas, experiments and projects.
            Bringing a touch of creativity to the technique.
          </p>
          <p>Welcome!!!</p>
        </div>
        <div class="main-image-holder">
          <template id="main-image-mobile">
            <Image
              src={introImg}
              class="image"
              alt="Image of a man with a shaking computer monitor"
            />
          </template>
          <template id="main-video-desktop">
            <ImageLoader
              alt="GIF of a party being digitilized to a virtual world"
            >
              <video class="image" autoplay loop muted playsinline>
                <source src={introVideo} type="video/mp4" />
              </video>
            </ImageLoader>
          </template>
        </div>
      </div>
    </section>
  </div>
</Shell>

<script>
  import "./controller";
</script>

<style lang="scss">
  @import "./styles.scss";
</style>
