---
import Shell from "@components/Shell/index.astro";
import ContentPanel from "@components/ContentPanel.astro";
import PageGrid from "@components/PageGrid/index.astro";
---

<Shell>
  <PageGrid dataElement="home-page">
    <ContentPanel main columns={7}>
      <div id="hehe">batata</div>
      <button id="mybtn">teste</button>
    </ContentPanel>
    <ContentPanel columns={5}>
      <p>lulu</p>
    </ContentPanel>
  </PageGrid>
</Shell>

<script>
  import "./controller";
</script>
