.presentation {
}

.section-title {
  margin-bottom: 20px;
}

.presentation-panels {
  p:not(:last-of-type) {
    margin-bottom: var(--paragraph-bottom); // TODO - improve
  }

  @include aboveTurningPoint() {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

.main-image-holder {
  width: 100%;
  margin-top: 20px;

  @include aboveTurningPoint() {
    width: 300px;
    flex-shrink: 0;
    margin-top: 0;
  }
}

.main-image {
  width: 100%;
  height: auto;
}

.latest-posts {
  margin-top: 50px;
  border-top: 1px solid var(--border-color);
  padding-top: 40px;
}

.posts-list {
  margin-top: 30px;
  list-style: none;
}

.latest-post {
  margin-bottom: 18px;
  max-width: 650px;
  &-link {
    font-size: calc(var(--body-font) + 2px);
    text-decoration: underline;
  }

  &-excerpt {
    font-size: var(--body-text);
    line-height: 1;
  }

  &-categories {
    font-size: 14px;
    display: flex;
    gap: 7px;
  }

  &-cat-title,
  &-cat-link {
    color: rgb(137, 137, 137);
  }

  &-path {
    font-size: 14px;
    text-decoration: none;
    color: green;
  }
}

.more-posts-link {
  display: block;
  text-align: center;
  text-decoration: none;
}
