---
import Shell from "@components/Shell/index.astro";
import PageGrid from "@components/PageGrid/index.astro";
import ContentPanel from "@components/ContentPanel.astro";
---

<Shell>
  <PageGrid dataElement="post-page">
    <ContentPanel columns={8} main>
      <slot />
    </ContentPanel>
    <ContentPanel columns={4}>
      <p>extra</p>
    </ContentPanel>
  </PageGrid>
</Shell>
