---
import Shell from "@components/Shell/index.astro";
import i18n, { pathMap } from "./i18n";
import PostsList from "@components/PostsList/index.astro";
import PostListItem from "@components/PostsList/Item.astro";
import PostsSearch from "@components/PostsList/Search.astro";
import { getPostsByLang } from "@cms/collections/posts/helpers";

const lang = Astro.currentLocale as Lang;
const allPosts = await getPostsByLang(lang);
const { defaultGoBackPage } = i18n[lang];
---

<Shell title="Posts" i18nPagePaths={pathMap} defaultGoBack={defaultGoBackPage}>
  <div class="posts">
    <PostsSearch showTopics>
      <PostsList>
        {allPosts.map((post) => <PostListItem post={post} searcheble />)}
      </PostsList>
    </PostsSearch>
  </div>
</Shell>

<style lang="scss">
  .posts {
    padding-top: 30px;
  }
</style>
