---
import Shell from "@components/Shell/index.astro";
import PostsList from "@components/PostsList/index.astro";
import PostListItem from "@components/PostsList/Item.astro";
import PostsSearch from "@components/PostsList/Search.astro";
import { getPageI18NPathMap } from "@helpers/server/i18n";
import { getPostsByLang } from "@content/helpers";

const lang = Astro.currentLocale as Lang;
const allPosts = await getPostsByLang(lang);
---

<Shell i18nPagePaths={getPageI18NPathMap("posts")}>
  <div class="posts">
    <PostsSearch showTopics>
      <PostsList>
        {allPosts.map((post) => <PostListItem post={post} searcheble />)}
      </PostsList>
    </PostsSearch>
  </div>
</Shell>
