---
import i18n from "./i18n";
const lang = Astro.currentLocale;
const { links } = i18n[lang];
---

<nav class="desk-main-menu global-metal-background" data-fragment="desk-menu">
  <ul class="desk-main-menu__list">
    {
      links.map(({ label, path }) => (
        <li class="desk-main-menu__list-item">
          <a class="desk-main-menu__list-link" href={path}>
            {label.toUpperCase()}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  import "./controller";
</script>

<style lang="scss">
  @import "./styles.scss";
</style>
