---
import IntegrityGraph from "./IntegrityGraph/index.astro";
import MainMenu from "./MainMenu/index.astro";
import Social from "./Social/index.astro";
import SearchPrompt from "./SearchPrompt/index.astro";
---

<header>
  <div class="integrity-slot">
    <div class="integrity-overflow">
      <IntegrityGraph />
    </div>
  </div>
  <div class="equip-slot">
    <Social />
  </div>
  <div class="actions-block">
    <div class="main-menu-slot">
      <MainMenu />
    </div>
    <div class="bottom-options">
      <div class="search-slot">
        <SearchPrompt />
      </div>
      <div class="actions"></div>
    </div>
  </div>
</header>

<style lang="scss">
  @import "./styles.scss";
</style>
