<div class="integrity-graph">
  <div class="char global-metal-background">
    <div class="char-title">
      <h1>Tim F.</h1>
    </div>
    <div class="char-image"></div>
  </div>
  <div class="meter global-metal-background">
    <div class="blank"></div>
    <div class="meter-title global-metal-background">
      <h3>Curiosity</h3>
    </div>
  </div>
</div>

<style lang="scss">
  @import "../../scss/mixins";

  .integrity-graph {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .char {
    background-color: #3f4242;
    height: 100%;
    padding: 7px;
    width: 25%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    min-width: 85px;

    @include below(l) {
      margin-right: 20px;
    }
  }

  .char-title {
    background-color: black;
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;

    h1 {
      font-family: "Pixel Operator Mono";
      font-size: 25px;
      font-weight: 700;
      color: #b2b895;
      line-height: 1;
      padding: 0;

      @include below(l) {
        font-size: 20px;
      }

      @include below(m) {
        font-size: 18px;
      }
    }
  }

  .char-image {
    flex: 1;
    background-color: #000829;
  }

  .meter {
    flex: 1;
    margin-bottom: 33px;
    background-size: 200% auto;
    padding: 10px 15px 7px 15px;
    position: relative;

    @include below(l) {
      padding: 7px;
    }
  }

  .meter-title {
    background-size: 200% auto;
    position: absolute;
    left: 0;
    top: 100%;
    height: 33px;
    width: 75%;
    padding-left: 17px;
    display: flex;
    align-items: center;
    clip-path: polygon(0 1%, 100% 0%, 75% 100%, 0% 100%);

    @include below(l) {
      padding-left: 10px;
      padding-top: 8px;
      align-items: flex-start;
    }

    h3 {
      font-family: "PS2P";
      font-size: 14px;
      color: #44444b;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px #017b01, 2px 2px 1px #acd5ac;

      @include below(l) {
        font-size: 10px;
      }
    }
  }

  .blank {
    width: 100%;
    height: 100%;
    background-color: #090000;
    border: 3px solid #017b01;
  }
</style>
