---
import Shell from "@layouts/Shell.astro"
---

<Shell>
	<div class="app-home" data-fragment="app-home">
		<h1>homepage</h1>
		<p class="sd">cenoura</p>
		<a href="/second-page">second page</a>
	</div>
</Shell>

<style lang="scss">
	.app-home {
		height:200vh;
	}
	h1 {
		font-size: 90px;
	}

	p {
		font-size: 50px;
	}

	a {
		font-size: 30px;
	}
</style>