---
import Shell from "@components/Shell/index.astro";
import DemoModal from "@components/DemoModal.astro";
import Progress from "@components/Progress.astro";
import Image from "@components/Image/index.astro";
---

<Shell>
  <div class="container">
    <div style="height:200vh" class="main-page">
      <!-- <Image
        src="https://tm.ibxk.com.br/2021/11/18/18150819447415.jpg"
        class="image"
        alt="potato red"
        inferSize
      /> -->
      <h1 style="margin-bottom:20px;">Hey there!</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet
        velit et orci dictum consequat eu eleifend lorem. Suspendisse maximus
        mauris at nisl tincidunt suscipit. Etiam nunc enim, sodales eu ex nec,
        placerat egestas ante. Ut ligula metus, porta non ultricies at, pulvinar
        vel nisl. Quisque hendrerit luctus libero id porttitor. Nam nec
        porttitor enim, eget venenatis dolor. Integer ac metus aliquet, accumsan
        odio et, vehicula odio.
      </p>
    </div>
  </div>
</Shell>

<style lang="scss">
  .image {
    width: 100%;
    height: auto;
  }
</style>
