---
import Shell from "@components/Shell.astro"
---

<Shell>
	<div class="app-home" data-fragment="app-home">
		<h1>homepage</h1>
		<p class="sd">cenoura</p>
		<a href="/second-page">second page</a>
	</div>
</Shell>