---
import Shell from "@components/Shell/index.astro";
import DemoModal from "@components/DemoModal.astro";
import Progress from "@components/Progress.astro";
import Image from "@components/Image/index.astro";
---

<Shell>
  <div class="container">
    <div class="main-page">
      <!-- <Image
        src="https://tm.ibxk.com.br/2021/11/18/18150819447415.jpg"
        class="image"
        alt="potato red"
        inferSize
      /> -->
      <h1 style="margin-bottom:20px;">Hi, i'm Tim!</h1>
      <p>
        I am a programmer and musician, passionate about mixing technology and
        art. <br /> Currently working as a <del>mad scientist</del> software engineer
        focused on solution architecture, exploring areas such as design systems,
        cloud, performance, and more.
      </p>
      <p>
        The idea of this blog is to be my little slice of the web where I plan
        to share my crazy ideas, experiments, and projects, trying to combine
        creativity and technique.
      </p>
      <p>Welcome!!!</p>
    </div>
  </div>
</Shell>

<style lang="scss">
  .image {
    width: 100%;
    height: auto;
  }

  p {
    padding-bottom: 20px;
  }
</style>
