---
import Shell from "@components/Shell/index.astro";
import DemoModal from "@components/DemoModal.astro";
import Progress from "@components/Progress.astro";
---

<Shell>
  <div class="container">
    <div style="height:200vh" class="main-page">
      <p>potato</p>
    </div>
  </div>
</Shell>
