<nav class="mobile-header">
  <div
    class="mobile-header-shape mobile-header-shape--1 global-metal-background"
  >
  </div>
  <div
    class="mobile-header-shape mobile-header-shape--2 global-metal-background"
  >
  </div>
  <div class="mobile-header-content"></div>
</nav>

<style lang="scss">
  @import "./styles.scss";
</style>
