---
import Shell from "@components/Shell/index.astro";
import { getPageI18NPathMap } from "@helpers/server/i18n";
import i18n from "./i18n";

const lang = Astro.currentLocale as Lang;
const data = i18n[lang];
---

<Shell i18nPagePaths={getPageI18NPathMap("work")}>
  <p>{data.title}</p>
</Shell>
