---
import Shell from "@components/Shell/index.astro";
import i18n from "./i18n";
import { CollectionEntry } from "astro:content";

type Props = {
  i18nPagePaths: I18NPagePaths;
  entry: CollectionEntry<"posts">;
};

const lang = Astro.currentLocale as Lang;
const data = i18n[lang];

const { i18nPagePaths, entry } = Astro.props;
const { Content, ...asd } = await entry.render();
---

<Shell i18nPagePaths={i18nPagePaths}>
  <div class="post-container">
    <h1 class="post-title">{data.title}</h1>
    <Content />
  </div>
</Shell>

<style lang="scss">
  @import "./styles.scss";
</style>
