---
import Shell from "@components/Shell/index.astro";
import i18n from "./i18n";
import { CollectionEntry } from "astro:content";

type Props = {
  i18nPagePaths: I18NPagePaths;
  entry: CollectionEntry<"posts">;
};

const lang = Astro.currentLocale as Lang;
const data = i18n[lang];

const { i18nPagePaths, entry } = Astro.props;
---

<Shell i18nPagePaths={i18nPagePaths}>
  <p>{data.title}</p>
  <p>{entry.data.title}</p>
</Shell>
