.post {
  max-width: 700px;

  &-title {
    margin:20px 0;
  }

  &-thumbnail {
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 30px;
  }

  &-content {
    :global(img) {
      width: 100%;
    }

    :global(p) {
      margin-bottom: 25px;
      /* max-width: 650px; */
      display: block;
    }

    :global(.astro-code) {
      margin-bottom: 25px;
    }
  }

  &-date {
    color: var(--gray-20);
    margin: 10px 0 25px 0;
  }
}
