<div class="search-bar" data-fragment="search-bar">
  <form class="search-form" autocomplete="off">
    <input id="search-field" class="field" type="text" placeholder="Search" />
    <button class="submit" type="submit"></button>
  </form>
</div>

<script>
  import "./controller";
</script>

<style lang="scss">
  @import "./styles.scss";
</style>
