<div class="search-bar" data-fragment="search-bar">
  <form class="search-form">
    <label for="search-field" class="label">Search</label>
    <input id="search-field" class="field" type="text" />
    <button class="submit" type="submit"></button>
  </form>
</div>

<script>
  import "./controller";
</script>

<style lang="scss">
  @import "./styles.scss";
</style>
