---
import i18n from "./i18n";

const { placeholder, emptyFieldMessage } = i18n[Astro.currentLocale as Lang];
---

<div
  class="search-bar"
  data-fragment="search-bar"
  data-error-msg={emptyFieldMessage}
>
  <form class="search-form" autocomplete="off">
    <input
      id="search-field"
      class="field"
      type="text"
      placeholder={placeholder}
    />
    <button class="submit" type="submit"></button>
  </form>
</div>

<script>
  import "./controller";
</script>

<style lang="scss">
  @import "./styles.scss";
</style>
