.search-bar {
  width: 100%;
}

.search-form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.label {
  display: block;
}

.field {
  flex: 1;
  font-size: var(--search-field-font);
  height: 30px;

  @include aboveTurningPoint() {
    height: 25px;
  }
}

.submit {
  outline: none;
  background: none;
  height: 24px;
  width: 24px;
  border: none;
  background-image: url("images/icons/search-tool.png");
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
