<header>
    <div class="char">
        <div class="char-head">
            <div class="char-name">
                <p>Tim f.</p>
            </div>
            <div class="char-image"></div>
        </div>
        <div class="char-life">life</div>
    </div>
    <div class="equip"></div>
    <div class="actions-block">
        <nav class="main-menu"></nav>
        <div class="bottom-options">
            <div class="search"></div>
            <div class="actions"></div>
        </div>
    </div>

</header>


<style lang="scss">
    $bottom-margin: 33px;

    header {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-flow: row;
        z-index: 1;
    }

    .char {
        grid-column: span 4;
        display: flex;
    }

    .char-head {
        background-color: #BDBDBD;
        height: 150px;
        width: 141px;
        padding: 7px;
    }

    .char-image {
        background-color: red;
        width: 100%;
    }

    .char-life {
        margin-bottom: $bottom-margin;
        flex: 1;
        background-color: #BDBDBD;
    }

    .equip {
        grid-column: span 2;
        background-color: #BDBDBD;
        margin-bottom: $bottom-margin;
    }

    .actions-block {
        grid-column: span 6;
        margin-bottom: $bottom-margin;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 10px;
        grid-auto-flow: column;
        grid-template-rows: 40px auto;
    }

    .main-menu {
        grid-column: span 6;
        background-color: #BDBDBD;
    }

    .bottom-options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-column: span 6;
    }

    .search {
        grid-column: span 1;
        background-color: #BDBDBD;
    }

    .actions {
        grid-column: span 1;
        background: #BDBDBD;
    }
</style>