---
export interface Props {
  title?: string;
  lang?: "pt-br" | "en";
}

const { title = "Tim Fontes", lang = "en" } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <title>{title}</title>
    <meta name="theme-color" content="#FF0000" />
  </head>

  <body>
    <slot />

    <style is:global lang="scss">
      /* latin-ext */
      @font-face {
        font-family: "VT323";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("/fonts/VT323-Regular.woff2") format("woff2");
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
          U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }

      /* latin */
      @font-face {
        font-family: "VT323";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("/fonts/VT323-Regular.woff2") format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }

      @font-face {
        font-family: "PS2P";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("/fonts/PressStart2P-Regular.woff2") format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
          U+2212, U+2215, U+FEFF, U+FFFD;
      }

      @font-face {
        font-family: "Pixel Operator Mono";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("/fonts/PixelOperatorMono.woff2") format("woff2");
      }

      @font-face {
        font-family: "Pixel Operator Mono";
        font-style: bold;
        font-weight: 700;
        font-display: swap;
        src: url("/fonts/PixelOperatorMono-Bold.woff2") format("woff2");
      }

      *,
      *::after,
      *::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      html {
        font-family: "Pixel Operator Mono", sans-serif;
        letter-spacing: 0.025em;
      }

      body {
        height: 100vh;
        overflow: auto;
        background-color: #010149;
        filter: blur(0.05em) hue-rotate(0);
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "VT323", monospace;
        font-weight: 400;
        letter-spacing: normal;
      }
    </style>

    <style lang="scss" is:global>
      .global-metal-background {
        //snippet found on https://codepen.io/Quinius/pen/YVWaaa
        background-image: linear-gradient(
            90deg,
            rgba(62, 68, 74, 0.5),
            rgba(192, 192, 192, 0.4),
            rgba(91, 96, 105, 0.5)
          ),
          repeating-linear-gradient(
            0deg,
            rgba(1, 5, 8, 0.26),
            rgba(189, 189, 189, 0.4) 2.5px
          ),
          repeating-linear-gradient(
            0deg,
            rgba(2, 23, 38, 0.32),
            rgba(192, 192, 192, 0.4) 2.7px
          ),
          repeating-linear-gradient(
            0deg,
            rgba(58, 65, 71, 0.6),
            rgba(224, 226, 227, 0.3) 3px
          ),
          repeating-linear-gradient(
            0deg,
            rgba(91, 95, 98, 0.5),
            rgba(55, 170, 233, 0.26) 4.5px
          );
      }
    </style>
  </body>
</html>
