<div class="editorial-container">
  <div class="content">
    <slot />
  </div>
</div>

<style lang="scss">
  .editorial-container {
    display: flex;

    @media (min-width: 1130px) {
      border-right: 1px solid var(--theme-divider-color);
    }
  }

  .content {
    max-width: 650px;
    width: 100%;

    :global(p) {
      margin-bottom: 20px;
    }

    :global(ul),
    :global(ol) {
      padding-left: 20px;
    }
    :global(li) {
      margin-bottom: 20px;
    }
  }
</style>
