<div class="editorial-container">
  <div class="content">
    <slot />
  </div>
</div>

<style lang="scss">
  .editorial-container {
    display: flex;

    @media (min-width: 1130px) {
      border-right: 1px solid var(--border-color);
    }
  }

  .content {
    max-width: 650px;
  }
</style>
