<div class="editorial-container" data-fragment="editorial-container">
  <div class="content">
    <slot />
  </div>
</div>

<style lang="scss">
  .editorial-container {
    display: flex;

    @media (min-width: 1130px) {
      border-right: 1px solid var(--theme-divider-color);
    }
  }

  .content {
    max-width: 650px;
    width: 100%;

    :global(p) {
      margin-bottom: 20px;
    }

    :global(ul),
    :global(ol) {
      padding-left: 20px;
    }
    :global(li) {
      margin-bottom: 20px;
    }

    :global(blockquote) {
      padding-left: 20px;
      font-style: italic;
      border-left: 1px solid var(--theme-divider-color);
    }
  }
</style>
<script>
  import elementController from "@lib/elementController";

  elementController(
    "editorial-container",
    ({ root }) => {
      onStart();

      function onStart() {
        root.onclick = handleLinkClick;
      }

      function handleLinkClick(ev: MouseEvent) {
        const target = ev?.target as HTMLElement;
        const isLink = target.tagName === "A";
        if (isLink) {
          ev.preventDefault();
          const href = target.getAttribute("href");
          window.open(href, "_blank");
        }
      }
    },
    { rerun: true }
  );
</script>
