<div class="integrity-graph">
    <div class="char"> char</div>
    <div class="meter">meter</div>
</div>


<style lang="scss">
    .integrity-graph {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .char {
        background-color: #BDBDBD;
        flex: 0 0 141px;
        padding: 7px;
    }

    .meter {
        flex: 1;
        background-color: #BDBDBD;
        margin-bottom: 33px;

    }
</style>