<nav class="main-nav">
    <p>something</p>
</nav>

<style lang="scss">
    .main-nav {
        background-color: red;
        height: 200px;
        width: calc(100vw - (2* var(--mobile-side-frame-size)));
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

    }
</style>