---
export interface Props {
  dataElement: string;
}

const { dataElement } = Astro.props;

const potato = {
  forwards: {
    old: [
      {
        name: "customFadeOut",
        duration: 700,
        easing: "cubic-bezier(0.76, 0, 0.24, 1)",
        fillMode: "both",
      },
      {
        name: "customSlideToBottom",
        duration: 600,
        easing: "cubic-bezier(0.76, 0, 0.24, 1)",
        fillMode: "both",
      },
    ],
    new: [
      {
        name: "customFadeIn",
        duration: 600,
        easing: "cubic-bezier(0.76, 0, 0.24, 1)",
        fillMode: "both",
      },
      {
        name: "customSlideFromRight",
        duration: 700,
        easing: "cubic-bezier(0.76, 0, 0.24, 1)",
        fillMode: "both",
      },
    ],
  },
  backwards: {
    old: [
      {
        name: "customFadeOut",
        duration: 700,
        easing: "cubic-bezier(0.76, 0, 0.24, 1)",
        fillMode: "both",
      },
      {
        name: "customSlideToRight",
        duration: 600,
        easing: "cubic-bezier(0.76, 0, 0.24, 1)",
        fillMode: "both",
      },
    ],
    new: [
      {
        name: "customFadeIn",
        duration: 600,
        easing: "cubic-bezier(0.76, 0, 0.24, 1)",
        fillMode: "both",
      },
      {
        name: "customSlideFromBottom",
        duration: 700,
        easing: "cubic-bezier(0.76, 0, 0.24, 1)",
        fillMode: "both",
      },
    ],
  },
};
---

<div
  class="page-panel-grid"
  data-fragment={dataElement}
  transition:animate={potato}
>
  <slot />
</div>

<style lang="scss">
  @keyframes customFadeIn {
    0% {
      opacity: 0;
    }
  }
  @keyframes customFadeOut {
    to {
      opacity: 0;
    }
  }

  @keyframes customSlideFromRight {
    0% {
      transform: translateX(100%);
    }
  }

  @keyframes customSlideToRight {
    to {
      transform: translateX(100%);
    }
  }

  @keyframes customSlideToBottom {
    to {
      transform: translateY(100%);
    }
  }

  @keyframes customSlideFromBottom {
    0% {
      transform: translateY(100%);
    }
  }

  .page-panel-grid {
    width: 100%;
    height: 100%;
    grid-auto-rows: 1fr;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;

    &:after {
      content: "";
      background-color: #010149;
      width: 27.5%;
      height: 32px;
      display: block;
      top: 0;
      left: 0;
      position: absolute;
      clip-path: polygon(0 1%, 100% 0%, 86% 100%, 0% 100%);

      @include belowTurningPoint() {
        display: none;
      }
    }

    @include belowTurningPoint {
      display: block;
    }
  }
</style>
