---
import Document from "./Document.astro";
import DeskHeader from "./DeskHeader.astro";
import ContentPanel from "./ContentPanel.astro";
export interface Props {
    title?: string;
    lang?: "pt-BR" | "en"
}

const { title = "Tim Fontes" } = Astro.props as Props
---

<Document title={title}>
    <main class="shell-container" data-fragment="app-shell">
        <div class="app-container">
            <DeskHeader />
            <div class="body">
                <ContentPanel columns={7}>
                    <p>something</p>
                </ContentPanel>
                <ContentPanel columns={5}>
                    <p>else</p>
                </ContentPanel>
            </div>
            <!-- <slot /> -->
        </div>
    </main>
</Document>

<script>
    import "../logic/app.ts"
</script>
<style lang="scss">
    .body {
        width: 100%;
        margin-top: 10px;
        height: 100%;
        flex: 1;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 10px;

    }

    .shell-container {
        background-color: #010149;
        width: 100vw;
        height: 100vh;
        /* filter: blur(0.05em) hue-rotate(0); */
    }

    .app-container {
        color: white;
        max-width: 1292px;
        width: 100%;
        height: 100%;
        z-index: 0;
        margin: 0 auto;
        padding: 55px 0;
        display: flex;
        flex-direction: column;
    }
</style>