---
import Document from "./Document.astro";
import DeskHeader from "./DeskHeader.astro";
export interface Props {
    title?: string;
    lang?: "pt-BR" | "en"
}

const { title = "Tim Fontes" } = Astro.props as Props

---

<Document title={title}>
    <main class="shell-container" data-fragment="app-shell">
        <div class="app-container">
            <DeskHeader />
            <slot />
        </div>
    </main>
</Document>

<script>
    import "../logic/app.ts"
</script>
<style lang="scss">
    .shell-container {
        background-color: #010149;
        width: 100vw;
        height: 100vh;
    }

    .app-container {
        color: white;
        max-width: 1292px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 80px 0;
    }
</style>