*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: var(--txt-regular);
  color: var(--theme-text-color);
  background: var(--bg);
}

p {
  line-height: 1.5;
}

h1 {
  font-size: var(--title-1);
}

h2 {
  font-size: var(--title-2);
}

h3 {
  font-size: var(--title-3);
}

h4 {
  font-size: var(--title-4);
}
u {
  text-decoration: none;
  border-bottom: 0.5px solid var(--theme-text-color);
}

a {
  color: var(--theme-link-color);
  cursor: var(--pointer-cursor);
  &:focus {
    outline: 1px dotted var(--theme-link-color);
  }
}

button {
  cursor: var(--default-cursor);
}

code {
  font-family: monospace;
  * {
    font-family: monospace;
  }
}
pre {
  display: block;
  padding: 12px 8px;
  background-color: var(--black);
  color: #c0c0c0;
  font-family: "Perfect DOS VGA 437 Win";
  font-size: 1rem;
  margin: 0;
  * {
    font-family: "Perfect DOS VGA 437 Win";
  }
}
summary {
  user-select: none;
  cursor: pointer;
  display: inline;
  &:focus {
    outline: 1px dotted var(--black);
  }
}

::selection {
  background-color: var(--theme-highlight-color); // TODO - thematize
  color: white;
}

::-webkit-scrollbar {
  width: 17px;
  &:horizontal {
    height: 17px;
  }
}
::-webkit-scrollbar-corner {
  background: var(--gray-0);
}
::-webkit-scrollbar {
  width: 17px;
  &:horizontal {
    height: 17px;
  }
}
::-webkit-scrollbar-corner {
  background: var(--gray-0);
}
::-webkit-scrollbar-track {
  background-image: var(--scrollbar-background);

  &:vertical {
    image-rendering: pixelated;
    background-image: var(--scroll-background);
  }
  &:horizontal {
    image-rendering: pixelated;
    background-image: var(--scroll-background-horizontal);
  }
}
::-webkit-scrollbar-thumb {
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--theme-scrollbar-thumb-bg);
  background-size: 7px;
  border: 1px solid white;
  border-radius: 2px;
  box-shadow: var(--theme-scrollbar-thumb-shadow);
  &:vertical {
    image-rendering: pixelated;
    background-image: var(--scroll-thumb);
  }
  &:horizontal {
    background-size: 8px;
    image-rendering: pixelated;
    background-image: var(--scroll-thumb-horizontal);
  }
}
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}
::-webkit-scrollbar-button {
  &:vertical {
    &:start {
      image-rendering: pixelated;
      height: 17px;
      background-image: var(--scroll-arrow-up);
    }
    &:end {
      image-rendering: pixelated;
      height: 17px;
      background-image: var(--scroll-arrow-down);
    }
  }
  &:horizontal {
    &:start {
      image-rendering: pixelated;
      width: 17px;
      background-image: var(--scroll-arrow-left);
    }
    &:end {
      image-rendering: pixelated;
      width: 17px;
      background-image: var(--scroll-arrow-right);
    }
  }
}

.msn-emoticon {
  display: inline-block;
  width: 23px !important;
  height: 23px !important;
  padding:2px;
  image-rendering: pixelated;
  background-color: white;
  vertical-align: middle;
}
