:root {
  --default-cursor: default;
  --pointer-cursor: pointer;

  --sans-serif: "Pixelated MS Sans Serif", Arial;

  /* Color */
  --yellow-light: #ece9d8;
  --gray-0: #dfdfdf;
  --gray-10: #d9d9d9;
  --gray-20: #808080;
  --gray-30: #5f5f5f;

  //theme
  --border-color: var(--gray-10);

  // scss
  --header-size: 90px;
  --grouped-element-spacing: 6px;
  --radio-width: 15px;
  --checkbox-width: 15px;
  --radio-label-spacing: 6px; //scss
  --radio-dot-width: 5px; // todo scss
  --radio-inner-shadow-hover: inset -2px -2px #f8b636, inset 2px 2px #fedf9c; // todo scss
  --tab-border: 1px solid #919b9c;
}
