/*-------------------------------------------*\
    Global
\*-------------------------------------------*/

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("/fonts/converted/ms_sans_serif.woff") format("woff");
  src: url("/fonts/converted/ms_sans_serif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("/fonts/converted/ms_sans_serif_bold.woff") format("woff");
  src: url("/fonts/converted/ms_sans_serif_bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Perfect DOS VGA 437 Win";
  src: url("/fonts/converted/PerfectDOSVGA437Win.woff2") format("woff2"),
    url("/fonts/converted/PerfectDOSVGA437Win.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: var(--body-font, 12px);
  color: #222222;
}
.surface {
  background: var(--surface);
}

p {
  line-height: 1.5;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
u {
  text-decoration: none;
  border-bottom: 0.5px solid #222222;
}

a {
  color: var(--link-blue);
  &:focus {
    outline: 1px dotted var(--link-blue);
  }
}

code {
  font-family: monospace;
  * {
    font-family: monospace;
  }
}
pre {
  display: block;
  padding: 12px 8px;
  background-color: black;
  color: #c0c0c0;
  font-family: "Perfect DOS VGA 437 Win";
  font-size: 1rem;
  margin: 0;
  * {
    font-family: "Perfect DOS VGA 437 Win";
  }
}
summary {
  user-select: none;
  cursor: pointer;
  display: inline;
  &:focus {
    outline: 1px dotted #000000;
  }
}
::-webkit-scrollbar {
  width: 17px;
  &:horizontal {
    height: 17px;
  }
}
::-webkit-scrollbar-corner {
  background: var(--button-face);
}
::-webkit-scrollbar {
  width: 17px;
  &:horizontal {
    height: 17px;
  }
}
::-webkit-scrollbar-corner {
  background: var(--button-face);
}
::-webkit-scrollbar-track {
  background-image: var("--scrollbar-background");

  &:vertical {
    background-image: var(--scroll-background);
  }
  &:horizontal {
    background-image: var(--scroll-background-horizontal);
  }
}
::-webkit-scrollbar-thumb {
  background-position: center;
  background-repeat: no-repeat;
  background-color: #c8d6fb;
  background-size: 7px;
  border: 1px solid white;
  border-radius: 2px;
  box-shadow: inset -3px 0 #bad1fc, inset 1px 1px #b7caf5;
  &:vertical {
    background-image: var(--scroll-thumb);
  }
  &:horizontal {
    background-size: 8px;
    background-image: var(--scroll-thumb-horizontal);
  }
}
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}
::-webkit-scrollbar-button {
  &:vertical {
    &:start {
      height: 17px;
      background-image: var(--scroll-arrow-up);
    }
    &:end {
      height: 17px;
      background-image: var(--scroll-arrow-down);
    }
  }
  &:horizontal {
    &:start {
      width: 17px;
      background-image: var(--scroll-arrow-left);
    }
    &:end {
      width: 17px;
      background-image: var(--scroll-arrow-right);
    }
  }
}
