// uncomment as needed
:root {
  /* --minimize: url("images/xp/minimize.svg");
  --minimize-hover: url("images/xp/minimize-hover.svg");
  --minimize-active: url("images/xp/minimize-active.svg");
  --maximize: url("images/xp/maximize.svg");
  --maximize-hover: url("images/xp/maximize-hover.svg");
  --maximize-active: url("images/xp/maximize-active.svg");
  --restore: url("images/xp/restore.svg");
  --restore-hover: url("images/xp/restore-hover.svg");
  --restore-active: url("images/xp/restore-active.svg");
  --help: url("images/xp/help.svg");
  --help-hover: url("images/xp/help-hover.svg");
  --help-active: url("images/xp/help-active.svg"); */
  --close: url("images/xp/close.svg");
  --close-hover: url("images/xp/close-hover.svg");
  --close-active: url("images/xp/close-active.svg");
  --dropdown: url("images/xp/dropdown.svg");
  --dropdown-hover: url("images/xp/dropdown-hover.svg");
  --dropdown-active: url("images/xp/dropdown-active.svg");
  --radio-dot: url("images/xp/radio-dot.svg");
  --radio-dot-disabled: url("images/xp/radio-dot-disabled.svg");
  --checkmark: url("images/xp/checkmark.svg");
  --checkmark: url("images/xp/checkmark-disabled.svg");
  --indicator-horizontal: url("images/xp/indicator-horizontal.svg");
  --indicator-rectangle-horizontal: url(
    "images/xp/indicator-rectangle-horizontal.svg"
  );
  // TODO - load directly in html
  /* --scrollbar-background: url("images/xp/scrollbar-background.svg"); */
  --scroll-background: url("images/xp/scroll-background.svg");
  --scroll-background-horizontal: url(
    "images/xp/scroll-background-horizontal.svg"
  );
  --scroll-thumb: url("images/xp/scroll-thumb.svg");
  --scroll-thumb-horizontal: url("images/xp/scroll-thumb-horizontal.svg");
  --scroll-arrow-up: url("images/xp/scroll-arrow-up.svg");
  --scroll-arrow-down: url("images/xp/scroll-arrow-down.svg");
  --scroll-arrow-left: url("images/xp/scroll-arrow-left.svg");
  --scroll-arrow-right: url("images/xp/scroll-arrow-right.svg");
  /* --groupbox-border: url("images/xp/groupbox-border.svg"); */
}
