:root {
  --title-bar-bg: black;
}
.window {
  font-size: var(--txt-xsmall);
  background: var(--theme-surface);
  box-shadow: var(--theme-window-bshadow);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0 0 3px 0;
  -webkit-font-smoothing: antialiased;

  :global(fieldset) {
    margin-bottom: 9px;
  }
}
.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Trebuchet MS";
  background: var(--theme-top-window);
  padding: 3px 5px 3px 3px;
  border-top: 1px solid var(--theme-window-bt);
  border-left: 1px solid var(--theme-window-bl);
  border-right: 1px solid var(--theme-window-br);
  border-top-left-radius: 8px;
  border-top-right-radius: 7px;
  font-size: var(--txt-window-title);
  text-shadow: 1px 1px var(--title-shadow);
  height: 28px;
}
.title-bar-text {
  font-weight: bold;
  color: white;
  letter-spacing: 0;
  margin-right: 24px;
  padding-left: 3px;
}
.title-bar-controls {
  display: flex;
  :global(button) {
    padding: 0;
    display: block;
    min-width: 21px;
    min-height: 21px;
    margin-left: 2px;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    background-color: var(--theme-action-bg);
    transition: background 100ms;
    border: none;
    &:focus {
      outline: none;
    }
    &:active,
    &:hover,
    &:focus {
      box-shadow: none !important;
    }
  }
  :global(button)[aria-label="Minimize"] {
    background-image: var(--minimize);
    &:hover {
      background-image: var(--minimize-hover);
    }
    &:not(:disabled):active {
      background-image: var(--minimize-active);
    }
  }
  :global(button)[aria-label="Maximize"] {
    background-image: var(--maximize);
    &:hover {
      background-image: var(--maximize-hover);
    }
    &:not(:disabled):active {
      background-image: var(--maximize-active);
    }
  }
  :global(button)[aria-label="Restore"] {
    background-image: var(--restore);
    &:hover {
      background-image: var(--restore-hover);
    }
    &:not(:disabled):active {
      background-image: var(--restore-active);
    }
  }
  :global(button)[aria-label="Help"] {
    background-image: var(--help);
    &:hover {
      background-image: var(--help-hover);
    }
    &:not(:disabled):active {
      background-image: var(--help-active);
    }
  }

  :global(button)[aria-label="Close"] {
    background-image: var(--close);
    &:hover {
      background-image: var(--close-hover);
    }
    &:not(:disabled):active {
      background-image: var(--close-active);
    }
  }
}
.window-body {
  margin: 8px;
  pre {
    margin: -8px;
  }
}

.status-bar {
  display: flex;
  margin: 0 3px;
  box-shadow: inset 0px 1px 2px var(--gray-20);
  padding: 2px 1px;
  gap: 0px;
}

.status-bar-field {
  flex-grow: 1;
  margin: 0;
  font-family: var(--sans-serif);
  -webkit-font-smoothing: antialiased;
  box-shadow: none;
  padding: 1px 2px;
  border-right: 1px solid rgba(208, 206, 191, 0.75);
  border-left: 1px solid rgba(255, 255, 255, 0.75);
  &:first-of-type {
    border-left: none;
  }
  &:last-of-type {
    border-right: none;
  }
}
