---
import transition from "./transition";
export interface Props {
  dataElement: string;
}

const { dataElement } = Astro.props;
---

<div
  class="page-panel-grid"
  data-fragment={dataElement}
  transition:animate={transition}
>
  <slot />
</div>

<style lang="scss">
  @import "./styles.scss";
</style>
