@keyframes customFadeIn {
  0% {
    opacity: 0;
  }
}
@keyframes customFadeOut {
  to {
    opacity: 0;
  }
}

@keyframes customSlideFromRight {
  0% {
    transform: translateX(100%);
  }
}

@keyframes customSlideToRight {
  to {
    transform: translateX(100%);
  }
}

@keyframes customSlideToBottom {
  to {
    transform: translateY(100%);
  }
}

@keyframes customSlideFromBottom {
  0% {
    transform: translateY(100%);
  }
}

.page-panel-grid {
  width: 100%;
  height: var(--defaultHeight);
  grid-auto-rows: 1fr;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;

  &--expansible {
    flex: 1;
    height: auto;
  }

  @include belowTurningPoint {
    display: block;
    height: auto;
  }

  &:after {
    content: "";
    background-color: #010149;
    width: 27.5%;
    height: 32px;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    clip-path: polygon(0 1%, 100% 0%, 86% 100%, 0% 100%);

    @include belowTurningPoint() {
      display: none;
    }
  }
}
