// uncomment as needed
:root {
  /* --minimize: url("images/icons/minimize.png");
  --minimize-hover: url("images/icons/minimize-hover.png");
  --minimize-active: url("images/icons/minimize-active.png");
  --maximize: url("images/icons/maximize.png");
  --maximize-hover: url("images/icons/maximize-hover.png");
  --maximize-active: url("images/icons/maximize-active.png");
  --restore: url("images/icons/restore.png");
  --restore-hover: url("images/icons/restore-hover.png");
  --restore-active: url("images/icons/restore-active.png");
  --help: url("images/icons/help.png");
  --help-hover: url("images/icons/help-hover.png");
  --help-active: url("images/icons/help-active.png"); */
  --go: url("images/icons/go.png");
  --close: url("images/icons/close.png");
  --menu: url("images/icons/menu.png");
  --close-hover: url("images/icons/close-hover.png");
  --close-active: url("images/icons/close-active.png");
  --dropdown: url("images/icons/dropdown.png");
  --dropdown-hover: url("images/icons/dropdown-hover.png");
  --dropdown-active: url("images/icons/dropdown-active.png");
  --radio-dot: url("images/icons/radio-dot.png");
  --radio-dot-disabled: url("images/icons/radio-dot-disabled.png");
  --checkmark: url("images/icons/checkmark.png");
  --checkmark-disabled: url("images/icons/checkmark-disabled.png");
  --indicator-horizontal: url("images/icons/indicator-horizontal.png");
  --indicator-rectangle-horizontal: url("images/icons/indicator-rectangle-horizontal.png");
  // TODO - load directly in html
  /* --scrollbar-background: url("images/icons/scrollbar-background.png"); */
  --scroll-background: url("images/icons/scroll-background.png");
  --scroll-background-horizontal: url("images/icons/scroll-background-horizontal.png");
  --scroll-thumb: url("images/icons/scroll-thumb.png");
  --scroll-thumb-horizontal: url("images/icons/scroll-thumb-horizontal.png");
  --scroll-arrow-up: url("images/icons/scroll-arrow-up.png");
  --scroll-arrow-down: url("images/icons/scroll-arrow-down.png");
  --scroll-arrow-left: url("images/icons/scroll-arrow-left.png");
  --scroll-arrow-right: url("images/icons/scroll-arrow-right.png");
  /* --groupbox-border: url("images/icons/groupbox-border.png"); */

  /* Window */
  --window-top: linear-gradient(
    180deg,
    rgba(9, 151, 255, 1) 0%,
    rgba(0, 83, 238, 1) 8%,
    rgba(0, 80, 238, 1) 40%,
    rgba(0, 102, 255, 1) 88%,
    rgba(0, 102, 255, 1) 93%,
    rgba(0, 91, 255, 1) 95%,
    rgba(0, 61, 215, 1) 96%,
    rgba(0, 61, 215, 1) 100%
  );
}
