---
import range from "@helpers/range";
---

<div class="social-block global-metal-background">
  <ul class="social-list">
    {range(4).map((_) => <li class="social-item" />)}
  </ul>
</div>

<style lang="scss">
  @import "./styles.scss";
</style>
