$xs: 0px;
$s: 600px;
$m: 900px;
$l: 1200px;
$xl: 1800px;

$turningPoint: 1000px;

@mixin belowUnit($unit) {
  @media (max-width: $unit) {
    @content;
  }
}

@mixin belowTurningPoint() {
  @include belowUnit($turningPoint) {
    @content;
  }
}

@mixin below($breakpoint) {
  @if $breakpoint == sm {
    @include belowUnit($sm) {
      @content;
    }
  }

  @if $breakpoint == m {
    @include belowUnit($m) {
      @content;
    }
  }

  @if $breakpoint == l {
    @include belowUnit($l) {
      @content;
    }
  }

  @if $breakpoint == xl {
    @include belowUnit($xl) {
      @content;
    }
  }

  @if $breakpoint == hd {
    @include belowUnit(1200px) {
      @content;
    }
  }
}
