$xs: 0px;
$s: 600px;
$m: 900px;
$l: 1200px;
$xl: 1800px;

@mixin aboveUnit($unit) {
  @media (min-width: $unit) {
    @content;
  }
}

@mixin belowUnit($unit) {
  @media (max-width: $unit) {
    @content;
  }
}

@mixin above($breakpoint) {
  @if $breakpoint == xs {
    @include aboveUnit($xs) {
      @content;
    }
  }

  @if $breakpoint == sm {
    @include aboveUnit($sm) {
      @content;
    }
  }

  @if $breakpoint == m {
    @include aboveUnit($m) {
      @content;
    }
  }

  @if $breakpoint == l {
    @include aboveUnit($l) {
      @content;
    }
  }

  @if $breakpoint == xl {
    @include aboveUnit($xl) {
      @content;
    }
  }
}

@mixin below($breakpoint) {
  @if $breakpoint == sm {
    @include belowUnit($sm) {
      @content;
    }
  }

  @if $breakpoint == m {
    @include belowUnit($m) {
      @content;
    }
  }

  @if $breakpoint == l {
    @include belowUnit($l) {
      @content;
    }
  }

  @if $breakpoint == xl {
    @include belowUnit($xl) {
      @content;
    }
  }

  @if $breakpoint == hd {
    @include belowUnit(1200px) {
      @content;
    }
  }
}
