<!DOCTYPE html>
<html>

<head>
    <title>my app</title>
</head>

<body>
    <div class="shell-container" data-fragment="app-shell" id="swup">
        <slot />
    </div>
</body>

</html>

<script>
    import "../../logic/app.ts"
</script>

<style>
    :global(*, *::after, *::before) {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
</style>