<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Content Manager</title>
  </head>

  <body>
    <script>
      import CMS from "decap-cms-app";
      import decapCMSConfig from "@cms/index";

      window.CMS_MANUAL_INIT = true;
      CMS.init(decapCMSConfig);
    </script>
  </body>
</html>
