.settings-window {
  inset: 0;
  position: fixed;
  display: none;
  z-index: 1000;
}

.settings-container {
  position: absolute;
  width: 90vw;
  top: 20vh;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  max-width: 500px;

  @include aboveTurningPoint() {
    width: 450px;
  }
}

.desktop-only-option {
  @include belowTurningPoint() {
    display: none;
  }
}

.settings-backdrop {
  cursor: var(--pointer-cursor);
  z-index: 1;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.475);
}

.settings-actions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.settings-side-by-side {
  display: flex;
  gap: 20px;
}

.text-range {
  display: flex;
  gap: 5px;
}

.settings-filter,
.settings-txt {
  width: 50%;
}

.hidden {
  display: none;
}
