<div class="integrity-graph">
    <div class="char global-metal-background">
      <div class="char-title">
        <h1>Tim F.</h1>
      </div>
      <div class="char-image"></div>
    </div>
    <div class="meter global-metal-background">
      <div class="blank"></div>
      <div class="meter-title global-metal-background">
        <h3>Curiosity</h3>
      </div>
    </div>
  </div>
  
  <style lang="scss">
    @import "./styles.scss";
  </style>
  