.presentation {
}

.section-title {
  margin-bottom: 30px;
}

.presentation-panels {
  display: flex;
  gap: 20px;
  align-items: center;

  p:not(:last-of-type) {
    margin-bottom: var(--paragraph-bottom); // TODO - improve
  }

  @include belowTurningPoint {
    display: block;
  }
}

.main-image-holder {
  width: 300px;
  flex-shrink: 0;
  margin-top: 0;

  @include belowTurningPoint {
    width: 100%;
    margin-top: 20px;
    flex-shrink: unset;
  }
}

.main-image {
  width: 100%;
  height: auto;
}

.section {
  margin-top: 50px;
}

.latest-posts {
  border-top: 1px solid var(--theme-border-color);
  padding-top: 40px;
}

.more-posts-link {
  display: block;
  text-align: center;
  text-decoration: none;
}

.random-staff-list,
.topics-column {
  list-style-position: inside;
}

.topics-columns {
  display: flex;
  gap: 60px;
  margin-top: 20px;

  @include belowTurningPoint() {
    flex-direction: column;
    gap: 0;
  }
}

.topics-column {
  display: flex;
  flex-direction: column;
}

.post-topic-link {
  display: inline-block;
  padding: 8px 0;
}
