.presentation {
}

.section-title {
  margin-bottom: 20px;
}

.presentation-panels {
  p:not(:last-of-type) {
    margin-bottom: var(--paragraph-bottom); // TODO - improve
  }

  @include aboveTurningPoint() {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

.main-image-holder {
  width: 100%;
  margin-top: 20px;

  @include aboveTurningPoint() {
    width: 300px;
    flex-shrink: 0;
    margin-top: 0;
  }
}

.main-image {
  width: 100%;
  height: auto;
}

.latest-posts,
.post-topics {
  margin-top: 50px;
}

.latest-posts {
  border-top: 1px solid var(--border-color);
  padding-top: 40px;
}

.more-posts-link {
  display: block;
  text-align: center;
  text-decoration: none;
}

.topics-columns {
  display: flex;
  gap: 60px;
  margin-top: 20px;

  @include belowTurningPoint() {
    flex-direction: column;
    gap: 0;
  }
}

.topics-column {
  display: flex;
  flex-direction: column;
}

.post-topic-link {
  margin-bottom: 5px;
}
